html {
  scroll-behavior: smooth;
}

.titre {
  width: auto;
  background: #375a7f;
  color: azure;
  height: 5em;
}
.titre h3{
  margin-top:56px;
  padding-top: 15px;
  padding-left: 50px;
}

section {
  height: 100vh;
}

span{
    font-size:15px;
}
a{
    text-decoration:none;
    color: #0062cc;
    border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
    color:#4183D7;
}

@media screen
and (min-device-width: 320px)
and (max-device-width: 480px){
  section {
    min-height: 225vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 1440px) {
  section {
    min-height: 160vh;
  }
}
.card {
  border-radius: 10px;
}
