* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
}

span {
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}

.titre {
    width: auto;
    background: #375a7f;
    color: azure;
    height: 5em;
}

.titre h3 {
    margin-top: 56px;
    padding-top: 15px;
    padding-left: 50px;
}

.link_project {
    text-decoration: none;
    color: #0062cc;

}

.link_project:hover {
    animation-duration: 0s;
    animation-name: underline;
    animation-fill-mode: forwards;
}

.box {
    padding: 60px 0;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0;
}

.text {
    margin: 20px 0;
}

.card {
    border-radius: 10px;
}

.disabled-link {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}

/*
    Media query
*/

/* for smartphone */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .titre h3 {
        padding-left: 0;
    }

    .titre {
        text-align: center !important;
    }
}

/* Keyframe */
@keyframes underline {
    from {
    }

    to {
        border-bottom: 2px solid #0062cc;
    }
}
